<div class="container">
	<header class="dashboard-header">
		<h1>Dashboard</h1>

		<section class="dashboard-summary" aria-label="Resumo de ocupação">
			<span class="summary-item">
				Total de vagas: <strong>{{ totalSpots() }}</strong>
			</span>
			<span class="divider" aria-hidden="true">|</span>
			<span class="summary-item available">
				Vagas disponíveis: <strong>{{ totalAvailable() }}</strong>
			</span>
			<span class="divider" aria-hidden="true">|</span>
			<span class="summary-item occupied">
				Vagas ocupadas: <strong>{{ totalOccupied() }}</strong>
			</span>
		</section>

	</header>

	<section class="card-grid">
		@for (spot of spots(); track spot.parkingSpotId) {
			<article class="card" [class.occupied]="spot.isOccupied">

				<div class="card-header">
					<span class="spot-number">{{ spot.spotNumber }}</span>
					<span class="status-icon">
						<span class="material-symbols-outlined">
							{{ spot.isOccupied ? 'directions_car' : 'check_circle' }}
						</span>
					</span>
				</div>

				<div class="card-content">
					@if (spot.isOccupied) {
						<div class="vehicle-details">
							<label>Veículo</label>
							<h2 class="license-plate">{{ spot.licensePlate }}</h2>
							<p class="model">{{ formatVehicleDetails(spot.model, spot.color) }}</p>
						</div>

						<button type="button" class="btn btn-checkout" (click)="doCheckOut(spot)">
							<span class="material-symbols-outlined">logout</span>
							Finalizar Estadia
						</button>
					} @else {
						<div class="empty-state">
							<span class="material-symbols-outlined">parking_sign</span>
							<p>Vaga Disponível</p>
						</div>

						<button type="button" class="btn btn-checkin" (click)="doCheckIn(spot)">
							<span class="material-symbols-outlined">login</span>
							Registrar Entrada
						</button>
					}
				</div>
			</article>
		}
	</section>
</div>

@if (isCheckInModalOpen()) {
  <div class="overlay" (click)="closeCheckInModal()">
    <div class="modal" (click)="$event.stopPropagation()">
      <div class="modal-header">
        <h2>Check-in: Vaga {{ selectedSpot()?.spotNumber }}</h2>
        <button class="btn-close" (click)="closeCheckInModal()">×</button>
      </div>

			<form #checkInFormRef="ngForm" (ngSubmit)="createCheckIn()">
      	<div class="modal-body">
					<div class="form-item">
						<label>Placa do Veículo *</label>
						<input type="text" id="plate" name="plate" class="license-plate"
										required minlength="7" maxlength="7" placeholder="ABC1234"
										#plate="ngModel" [(ngModel)]="checkInForm.licensePlate"
										(input)="checkInForm.licensePlate = checkInForm.licensePlate.toUpperCase().replace(/[^A-Z0-9]/g, '')">

						@if (plate.invalid && plate.touched) {
							<small class="error-text">Este campo é obrigatório e deve ter 7 caracteres.</small>
						}
					</div>

					<div class="form-item">
						<label>Modelo *</label>
						<input type="text" id="model" name="model" required placeholder="Toyota Corolla"
									#model="ngModel" [(ngModel)]="checkInForm.model">

						@if (model.invalid && model.touched) {
							<small class="error-text">Este campo é obrigatório.</small>
						}
					</div>

					<div class="form-item">
						<label>Cor</label>
						<input type="text" id="color" name="color" placeholder="Prata"
									#color="ngModel" [(ngModel)]="checkInForm.color">
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-cancel" (click)="closeCheckInModal()">Cancelar</button>
					<button type="submit" class="btn btn-checkin-confirm" [disabled]="checkInFormRef.invalid">Confirmar Entrada</button>
				</div>
			</form>
    </div>
  </div>
}

@if (isCheckOutModalOpen()) {
  <div class="overlay" (click)="closeCheckOutModal()">
    <div class="modal" (click)="$event.stopPropagation()">
      <div class="modal-header">
        <h2>Resumo de Saída</h2>
        <button class="btn-close" (click)="closeCheckOutModal()">×</button>
      </div>

      <div class="modal-body">
        <div class="summary-item">
          <label>Veículo</label>
          <p>{{ formatVehicleDetails(checkOutData()?.model, checkOutData()?.color) }} - <strong class="license-plate">{{ checkOutData()?.licensePlate }}</strong></p>
        </div>

        <div class="summary-grid">
          <div class="summary-item">
            <label>Entrada</label>
            <p>{{ checkOutData()?.entryTime | date:'E, dd/MM/yyyy, HH:mm' | titlecase }}</p>
          </div>
          <div class="summary-item">
            <label>Permanência</label>
            <p class="time-highlight">{{ checkOutData()?.duration }}</p>
          </div>
        </div>

				<div class="checkout-footer-info">
        @if (checkOutData()?.isPricingActive) {
          <div class="price-pill">
            <label>Valor Total</label>
            <h2 class="amount">
              {{ checkOutData()?.totalAmount | currency:'BRL' }}
            </h2>
          </div>
        } @else {
          <p class="warning-box">
          	⚠️ Calcule o valor manualmente com base no tempo de permanência.
        	</p>
        }
      	</div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-cancel" (click)="closeCheckOutModal()">Cancelar</button>
        <button type="button" class="btn btn-checkout-confirm" (click)="confirmCheckOut()">Confirmar Saída</button>
      </div>
    </div>
  </div>
}
